<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_edu_qut_isr_ands_doi_domain_SystemDetails" modelAttribute="systemDetails" path="/systemdetailses" versionField="Version" z="lvs4HwPSjkY5eblUmPvTFyfnDgI=">
        <field:input field="name" id="c_edu_qut_isr_ands_doi_domain_SystemDetails_name" z="rhEH0MJVsaQoORdJ87JLV3mPDDU="/>
        <field:input field="mode" id="c_edu_qut_isr_ands_doi_domain_SystemDetails_mode" z="GS+3nflS6lOc1zeXtEMk3/dQCN8="/>
        <field:input field="baseUrl" id="c_edu_qut_isr_ands_doi_domain_SystemDetails_baseUrl" z="Rm/PwqATIEzT/USr1UFP9F5LTzM="/>
        <field:input field="lookupUrl" id="c_edu_qut_isr_ands_doi_domain_SystemDetails_lookupUrl" z="vtwFf80eUvKb/jjae1ljDxDoHys="/>
        <field:simple field="doiRecords" id="c_edu_qut_isr_ands_doi_domain_SystemDetails_doiRecords" messageCode="entity_reference_not_managed" messageCodeAttribute="Doi Record" z="HRGEr+BN8VGjPGPe9ajOSWRH22A="/>
    </form:update>
</div>
