<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <script type = "text/javascript">
      $(document).ready(function(){
      		
            //create a new field then append it before the add field button
            $("#add-creator").click(function(){
                  $('#_creators_id').parent().parent().parent().after('<div><label>&#160;</label><div class="dijit dijitReset dijitInlineTable dijitLeft dijitTextBox dijitValidationTextBox" style=""><div class="dijitReset dijitValidationContainer"><input class="dijitReset dijitInputField dijitValidationIcon dijitValidationInner" value="" type="text" tabindex="-1" readonly="" wairole="presentation" role="presentation"/></div><div class="dijitReset dijitInputField dijitInputContainer"><input class="dijitReset dijitInputInner" dojoattachpoint="textbox,focusNode" autocomplete="off" name="creators" type="text" maxlength="524288" tabindex="0" aria-required="false" aria-invalid="false" value=""/></div></div><span class="js-link" onclick="$(this).parent().remove()">Remove</span><br/></div>');
            });
      });
      
      $(document).ready(function(){
    	  $('#_creators_id').parent().next().remove()  });
      
      $(document).ready(function(){
    	 $("#proceed").click(function() {
    	  $('#DoiRecord_localId_localId_id').html($('#_localId_id').val());
    	  $('#DoiRecord_url_url_id').html($('#_url_id').val());
    	  $('#DoiRecord_title_title_id').html($('#_title_id').val());
    	  $('#DoiRecord_subject_subject_id').html($('#_subject_id').val());
    	  $('#DoiRecord_publicationYear_pubicationYear_id').html($('#_publicationYear_id').val());
    	  $('#DoiRecord_publisher_publisher_id').html($('#_publisher_id').val());
    	  $('#DoiRecord_language_language_id').html($('#_language_id').val());
    	  
       $('#review-dialog').dialog({ modal: true });
    return false;  });      
});

$(document).ready(function(){
    	 $("#proceed-confirmed").click(function() {
    	  
       $('#doiRecord').submit();
      });
});
</script>
    <form:mint id="fc_edu_qut_isr_ands_doi_domain_DoiRecord" modelAttribute="doiRecord" path="/doirecords" render="${empty dependencies}" z="evzPX1ll5rsTClkl0UNa+lWNkvY=">
    	
        <field:select field="systemDetails" id="c_edu_qut_isr_ands_doi_domain_DoiRecord_systemDetails" itemValue="id" itemLabel="name" items="${systemdetailses}" path="/systemdetailses" z="KL5rY8d5n7QoJ8KLv3lTOZfsy1o="/>
        <field:input field="localId" id="c_edu_qut_isr_ands_doi_domain_DoiRecord_localId" required="true" z="ZviprTyHhhh6YAsYmDCNd30FUvU="/>
        <field:input field="url" id="c_edu_qut_isr_ands_doi_domain_DoiRecord_url" required="true" z="KpPmZlBjRaGEgand3UlWSyqdoqM="/>
        <field:input field="title" id="c_edu_qut_isr_ands_doi_domain_DoiRecord_title" required="true" z="KpPmZlBjRaGEgand3UlWSyqdoqM="/>        
        <field:input field="subject" id="c_edu_qut_isr_ands_doi_domain_DoiRecord_subject" required="true" z="ZviprTyHhhh6YAsYmDCNd30FUvU="/>
        <field:input field="publicationYear" id="c_edu_qut_isr_ands_doi_domain_DoiRecord_publicationYear" required="true" z="+/uL6Ax33V4w0d3o03ojtzn3hmw="/>
        <field:input field="creators" id="c_edu_qut_isr_ands_doi_domain_DoiRecord_creators" z="7AfonShgSjZoYdZnELHUxhw6vtQ="/>
        <div><label>&#160;</label><div style="" class="dijit dijitReset dijitInlineTable dijitLeft dijitValidationTextBox"><div class="dijitReset dijitInputField dijitInputContainer"><div id='add-creator' class="js-link">Add another creator</div></div></div></div><br/>
        
        <field:input field="publisher" id="c_edu_qut_isr_ands_doi_domain_DoiRecord_publisher" required="true" z="7aSFVITuPC+ZF4xQAJ8cnw7tw1E="/>
        <field:input field="language" id="c_edu_qut_isr_ands_doi_domain_DoiRecord_language" required="true" z="0XhSUzAQluz7KETSeHD0n4UcTkc="/>
    
        
    </form:mint>
    <form:dependency dependencies="${dependencies}" id="d_edu_qut_isr_ands_doi_domain_DoiRecord" render="${not empty dependencies}" z="hwkdMHRFkPoHw9edytXo+UHjjyE="/>
    	<div id='review-dialog'><jsp:include page="review.jspx" /></div>
</div>
